.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-flow: column nowrap;
}
.h-center{
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 44px;
  font-weight: bold;
}
form p-float-label{
  margin-bottom: 1em;
}
p-float-label input {
  width: 400px;
}
.btn-update{
}
.flex-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
